.git
.gitignore
venv
env
**/*.pyc
**/*.egg-info
**/__pycache__
src/**.cmake
**/CMakeFiles
**/Makefile
**/cmake_install.cmake
**/CMakeCache.txt
detect_cuda_compute_capabilities.cpp
detect_cuda_version.cc
.dockerignore
Dockerfile
docker.mk
tasks.mk
compile_commands.json
_skbuild
**/*.so
**/*.a
**/*.lib
**/*.dll
**/*.exe
workflows/evaluation/middlebury/