__pycache__
*.egg-info
.workflow.lmdb
.benchmarks
.secrets

build
cmake_install.cmake
CMakeFiles
Makefile
detect_cuda_compute_capabilities.cpp
detect_cuda_version.cc
compile_commands.json
CMakeCache.txt
_skbuild
*.whl

*.so
*.dll
*.cpython*
*.a
*.lib
*.exe

*.out
*.link
*.prof
*.cprof
out-*
.ipynb_checkpoints
doc/cpp
.clangd

.devcontainer
.vscode
junit
.coverage
