name: build-and-test
on: [push]

jobs:
  build_docker:
    runs-on: [self-hosted] # ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
      - name: Build and push docker
        timeout-minutes: 100
        run: |
          docker build -t otaviog/stereo-matching:base --target base .
      - name: Login docker hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to docker hub
        run: |
          docker push otaviog/stereo-matching:base
  build:
    needs: build_docker
    runs-on: [self-hosted]
    container: otaviog/stereo-matching:base
      options: --gpus all
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
      - name: Build cpp code
        run: pip install .
      - name: Install dev dependencies
        run: pip install -r requirements-dev.txt
      - name: Static check
        run: pylint src/ tests/
      # - name: Unit testing
      #  run: pytest tests --junitxml=junit/test-results.xml --cov=com --cov-report=xml --cov-report=html
  deploy:
    runs-on: [self-hosted]
    container: pytorch/pytorch:1.12.1-cuda11.3-cudnn8-devel
    steps:
      - name: Check install on clean pytorch install
        uses: actions/checkout@v3
      - name: Install the package
        run: pip install .
        env:
          TORCH_CUDA_ARCH_LIST: 6.1 8.6
